
  body{
    background-color: black;
  }
  
  main{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
  }

  h1{
      color: rgb(21, 17, 12);
  }

  p{
      font-size: 20px;
      color: #5035FF;
  }
  
  .dice--container{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
  }
  
  .dice--button{
  height: 50px;
  width: 50px;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px #00000026;
  cursor: pointer;
  font-size: 2rem;
  background-color: rgb(26, 33, 46);
  color: black;
  }
  
  .roll--button{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .roll--button:focus {
    outline: none;
  }
  
  .roll--button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }